svg{
    stroke-width: 2;
    z-index: 10;
}

#square-clone{
    opacity: 0.5;
    border: none;
    /* animation: translaterotate 3s ease 1;    */
    transform-origin: center;
    -webkit-transform-origin: center; 
    /* animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; */

}

polyline{
    stroke-width: 1;            
}

.draggable{
    opacity: 0;
    z-index: 100;
}

.draggable:hover{
    opacity: 1;
}

.Highlighter1,.Highlighter2{
    z-index: 0;
}



/* @keyframes translaterotate {
    0%  { transform: translate(0px, 0px) rotate(0deg) ; -webkit-transform: translate(0px, 0px) rotate(0deg) ; } 
    100% { transform: translate(350px) rotate(0deg) ; -webkit-transform: translate(350px) rotate(60deg) ; }      
}  */